.headerBox{
    display: flex;
    height: 120px;
    width: 100%;
    background-color: var(--main-dark);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.headerTitle{
    margin-left: 10px;
    color: var(--main-secondary);
}
.logoBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.Logo{
    width: 110px;
}